body {
    padding: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    overflow-y: hidden;
    background-color: rgb(200,200,220);
}

#header {
    position: relative;
    display: none;
    margin-top: 3px;
    margin-left: 5px;
    width: 500px;
    height: 40px;
    background-color: rgb(50,50,200);
    color: white;
    font-weight: bold;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    
}

#header-inner {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

#header-name {
    font-size: 25px;
}

#content {
    width: 100%;
    height: 400px;
    display: none;
    overflow-x: auto;
    overflow-y: auto;
    min-height: 400px;
}

#content-inner {
    border-radius: 20px;
    
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    
    background-color: white;
    width: 740px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nametag {
    margin-left: auto;
    margin-right: auto;
    
    background-color: rgb(230,30,30);
    color: white;
    border-radius: 20px;
    width: 400px;
    height: 200px;
    font-family: sans-serif;
    text-align: center;
}

.nametag .hello {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: -10px;
}

.nametag .my-name-is {
    font-size: 25px;
}

.nametag .empty {
    background-color: rgb(240,240,240);
    width: 100%;
    height: 110px;
}

.nametag input#name {
    border-radius: 10px;
    border-color: rgb(230,230,230);
    border-width: 4px;
    border-style: solid;
    
    background-color: rgb(240,240,240);
    
    margin-top: 10px;
    width: 300px;
    height: 80px;
    
    font-size: 40px;
    font-family: "URW Chancery L", "Apple Chancery", "MV Boli", "cursive";
    text-align: center;
}

#classroom {
    position: absolute;
    right: 0px;
    top: 5px;
}

#classroom .button {
    position: absolute;
    right: 15px;
    top: 0px;
    background-color: rgb(150,150,220);
    width: 75px;
    height: 30px;
    font-size: 22px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}

#classroom .button.active {
    background-color: rgb(200,200,255);
}

#classroom .button:hover {
    background-color: rgb(200,200,255);
}

#classroom .map {
    position: relative;
    display: none;
    margin-top: 40px;
    margin-right: 5px;
    
    border-color: rgb(100,100,255);
    border-style: solid;
    border-width: 8px;
    border-radius: 20px;
    
    background-color: rgb(220,220,240);
    
    width: 700px;
    height: 500px;
    
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

#classroom .close {
    position: absolute;
    top: -12px;
    right: -12px;
    text-align: center;
    
    height: 25px;
    width: 25px;
    
    border-radius: 20px;
    background-color: rgb(200,40,80);
    color: white;
    
    cursor: pointer;
}

#classroom .close:hover {
    background-color: rgb(240,20,40);
}

#classroom .desk {
    position: absolute;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    top: 0px;
    left: 0px;
    color: black;
}
