body {
    padding: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    overflow-y: hidden;
    background-color: rgb(200,200,220);
}

#header {
    position: relative;
    display: none;
    margin-top: 3px;
    margin-left: 5px;
    width: 500px;
    height: 40px;
    background-color: rgb(50,50,200);
    color: white;
    font-weight: bold;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    
}

#header-inner {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

#header-name {
    font-size: 25px;
}

#content {
    width: 100%;
    height: 400px;
    display: none;
    overflow-x: auto;
    overflow-y: auto;
    min-height: 400px;
}

#content-inner {
    border-radius: 20px;
    
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    
    background-color: white;
    width: 740px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nametag {
    margin-left: auto;
    margin-right: auto;
    
    background-color: rgb(230,30,30);
    color: white;
    border-radius: 20px;
    width: 400px;
    height: 200px;
    font-family: sans-serif;
    text-align: center;
}

.nametag .hello {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: -10px;
}

.nametag .my-name-is {
    font-size: 25px;
}

.nametag .empty {
    background-color: rgb(240,240,240);
    width: 100%;
    height: 110px;
}

.nametag input#name {
    border-radius: 10px;
    border-color: rgb(230,230,230);
    border-width: 4px;
    border-style: solid;
    
    background-color: rgb(240,240,240);
    
    margin-top: 10px;
    width: 300px;
    height: 80px;
    
    font-size: 40px;
    font-family: "URW Chancery L", "Apple Chancery", "MV Boli", "cursive";
    text-align: center;
}

#points-div {
    display: inline-block;
    width: 150px;
    height: 35px;
    margin-left: 50px;
    vertical-align: middle;
    color: rgb(200,200,255);
}

#classroom {
    position: absolute;
    right: 0px;
    top: 5px;
}

#classroom .button {
    position: absolute;
    right: 15px;
    top: 0px;
    background-color: rgb(150,150,220);
    width: 75px;
    height: 30px;
    font-size: 22px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}

#classroom .button.active {
    background-color: rgb(200,200,255);
}

#classroom .button:hover {
    background-color: rgb(200,200,255);
}

#classroom .map {
    position: relative;
    display: none;
    margin-top: 40px;
    margin-right: 5px;
    
    border-color: rgb(100,100,255);
    border-style: solid;
    border-width: 8px;
    border-radius: 20px;
    
    background-color: rgb(220,220,240);
    
    width: 700px;
    height: 500px;
    
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

#classroom .close {
    position: absolute;
    top: -12px;
    right: -12px;
    text-align: center;
    
    height: 25px;
    width: 25px;
    
    border-radius: 20px;
    background-color: rgb(200,40,80);
    color: white;
    
    cursor: pointer;
}

#classroom .close:hover {
    background-color: rgb(240,20,40);
}

#classroom .desk {
    position: absolute;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    top: 0px;
    left: 0px;
    color: black;
}

.unit {
    margin-top: 50px;
}

.unit .unit-title {
    width: 800px;
    height: 40px;
    font-size: 22px;
    padding-top: 10px;
    padding-left: 20px;
    
    color: white;
    background-color: rgb(30,30,130);
    border-radius: 20px;
}

.unit .unit-body {
    margin-left: 40px;
    margin-top: 30px;
}

.repl {
    margin-top: 5px;
    
    width: 655px;
    height: 300px;
    background-color: rgb(50,50,50);
    color: rgb(150,255,150);
    font-family: monospace;
    border-radius: 10px;
    padding: 10px;
    
    overflow-y: scroll;
    overflow-x: auto;
}

.repl .output {
    white-space: pre;
    word-wrap: break-word;
    font-size: 20px;
    font-weight: bold;
}

.repl .output .error {
    color: rgb(230,150,150);
}

.repl .prev {
    color: rgb(200,200,200);
}

.repl input {
    border-width: 0px;
    width: 625px;
    height: 30px;
    
    margin-top: -27px;
    margin-left: 25px;
    
    font-family: monospace;
    font-size: 20px;
    font-weight: bold;
    
    background-color: rgb(50,50,50);
    color: white;
}

.repl input:focus {
    outline-width: 0px;
}

.repl span {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

#units div {
    margin-top: 20px;
    margin-bottom: 20px;
}

.code {
    background-color: rgb(200,200,200);
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
}

pre {
    font-family: monospace;
    background-color: rgb(80,80,80);
    color: white;
    width: 655px;
    color: rgb(150,255,150);
    font-family: monospace;
    border-radius: 10px;
    padding: 10px;
}

table {
    margin-left: 30px;
    border-radius: 20px;
    background-color: rgb(200,200,240);
    border-collapse: collapse;
}

table tr th {
    text-align: left;
    background-color: rgb(20,20,80);
    color: rgb(200,200,240);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

table tr th.first {
    border-top-left-radius: 20px;
}

table tr th.last {
    border-top-right-radius: 20px;
}

table tr td {
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 5px;
}
